In [1]:
from Crawl.IrBank import*

a = Irbank()
df = a.getCcode('1333')
df

['1333', 'E00015']

In [2]:
a.getPriceCloseYahooFinanceJapan(symbol='1333')

              日付      始値      高値      安値      終値      出来高  調整後終値*
0     2023年6月14日  2487.0  2499.5  2482.0  2499.0   162100  2499.0
1     2023年6月13日  2480.0  2483.5  2462.0  2480.0   172200  2480.0
2     2023年6月12日  2478.0  2482.0  2467.0  2476.0   124100  2476.0
3      2023年6月9日  2465.5  2484.0  2459.5  2475.5   156300  2475.5
4      2023年6月8日  2464.0  2478.0  2454.5  2462.0   162200  2462.0
...          ...     ...     ...     ...     ...      ...     ...
2244   2014年4月7日  1703.0  1710.0  1687.0  1687.0   150400  1687.0
2245   2014年4月4日  1716.0  1722.0  1709.0  1716.0   132900  1716.0
2246   2014年4月3日  1727.0  1735.0  1715.0  1723.0   471300  1723.0
2247   2014年4月2日  1711.0  1746.0  1711.0  1727.0   672700  1727.0
2248   2014年4月1日  1681.0  1800.0  1681.0  1774.0  1548200  1774.0

[2249 rows x 7 columns]

In [4]:
from datetime import datetime
from Crawl.base.URL import TIMELINE
a = datetime.strptime(TIMELINE["START_DATE"], "%d/%M/%Y")

b = datetime.strftime(a, "%Y%M%d")
b

'19500101'

In [2]:
list_comapny = ['1333', '1301', '6172', '1332', '6924']
a.getPriceCloseByListCompany(list_comapny)

1333
1301
6172

In [3]:
df = a.getPriceCloseMikabu("1301")
df

              日時      始値      高値      安値      終値   調整後終値   出来高(株)
0     2023/06/09  2465.5  2484.0  2459.5  2475.5  2475.5   156300
1     2023/06/08  2464.0  2478.0  2454.5  2462.0  2462.0   162200
2     2023/06/07  2494.5  2494.5  2451.0  2456.0  2456.0   189000
3     2023/06/06  2478.5  2497.5  2465.0  2494.5  2494.5   183900
4     2023/06/05  2505.5  2520.5  2479.5  2492.0  2492.0   218100
...          ...     ...     ...     ...     ...     ...      ...
2241  2014/04/07  1703.0  1710.0  1687.0  1687.0  1687.0   150400
2242  2014/04/04  1716.0  1722.0  1709.0  1716.0  1716.0   132900
2243  2014/04/03  1727.0  1735.0  1715.0  1723.0  1723.0   471300
2244  2014/04/02  1711.0  1746.0  1711.0  1727.0  1727.0   672700
2245  2014/04/01  1681.0  1800.0  1681.0  1774.0  1774.0  1548200

[2246 rows x 7 columns]

In [3]:
a.saveDataFrameCSV(df, '1333')