In [2]:
from Crawl.MorningStar import*

a = MorningStar()

list_comp = [1301, 1332, 1333, 1352, 1376, 1377, 1379, 1380]
df = a.getDividendsByListSymbol(list_comp)
df
# a.getDividendBySymbol(1301)

   Symbol  Check  Len
0    1301      1   27
1    1332      1   49
2    1333      0   -1
3    1352      0   -1
4    1376      1   49
5    1377      1   72
6    1379      1   56
7    1380      1   21